body{
  padding: 0;
  margin: 0;
  font-family: 'Gamja Flower', cursive;
  background: #000;
}

h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 25em;
  text-transform: uppercase;
  background: url(../img/low-poly-bg.jpg);
  color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke: 2px #000;
  animation: move 20s linear infinite;
  -webkit-animation: move 20s linear infinite;
}

@keyframes move{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 800px -800px;
  }
}